body {
	margin: 0em;
	padding: 0.75em 20%;
	font-family: sans-serif;
	line-height: 1.5;
}
p, ul, ol {
	margin: 0.75em 0em;
}
a {
	text-decoration: none;
}
a:hover, a:focus, a:hover .site-title, a:focus .site-title {
	text-decoration: underline;
}
.skip-to-main {
	position: absolute;
	width: 25%;
}
.skip-to-main a {
	position: absolute;
	border: 0.25em solid black;
	padding: 0.5em;
	background-color: white;
	color: black;
	z-index: 100;
	top: -100em;
}
.skip-to-main a:focus {
	top: 0em;
}
.site-title, h1, h2, h3 {
	font-weight: bold;
}
.site-id, .index-site-id {
	margin: 0em auto;
	text-align: center;
	font-size: 2.5em;
}
.site-id a {
	color: inherit;
}
.site-id span {
	display: inline-block;
	vertical-align: middle;
	margin: 0.45em 0.25em;
}
.site-id .site-logo {
	height: 1.5em;
}
.site-logo img {
	height: 100%;
}
.index-site-id {
	font-size: 3em;
}
.index-site-id span {
	display: block;
	margin: 0.5em;
}
.index-site-id .site-logo {
	height: 2em;
}
.main-nav ul {
	list-style-type: none;
	padding: 0em;
}
.main-nav li {
	display: inline-block;
	margin: 0.375em;
	padding: 0.375em;
	border-width: thin;
	border-style: solid;
}
.breadcrumb-nav {
	border-bottom-width: thin;
	border-bottom-style: solid;
	margin-bottom: 1.5em;
}
.breadcrumb-nav ol {
	list-style-type: none;
	padding: 0em;
}
.breadcrumb-nav li {
	display: inline-block;
}
.breadcrumb-nav li:before {
	content: "\25b8";
	margin: 0em 0.5em;
}
[dir=rtl] .breadcrumb-nav li:before {
	content: "\25c2";
}
.breadcrumb-nav li:first-child:before {
	content: "";
	margin: 0em;
}
h1 {
	font-size: 2em;
	margin-top: 0.75em;
	margin-bottom: 0.375em;
}
h2 {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
h3 {
	font-size: 1em;
	margin-top: 1.5em;
	margin-bottom: 0.75em;
}
.pagination {
	position: relative;
}
.pagination div {
	display: inline-block;
	position: absolute;
}
.pagination-current {
	width: 100%;
	text-align: center;
}
.pagination-previous {
	left: 0em;
	text-align: left;
}
.pagination-previous a:before {
	content: "\2190  ";
}
[dir=rtl] .pagination-previous {
	right: 0em;
	left: auto;
	text-align: right;
}
[dir=rtl] .pagination-previous a:before {
	content: "\2192  ";
}
.pagination-next {
	right: 0em;
	text-align: right;
}
.pagination-next a:after {
	content: " \2192";
}
[dir=rtl] .pagination-next {
	left: 0em;
	right: auto;
	text-align: left;
}
[dir=rtl] .pagination-next a:after {
	content: " \2190";
}
@media print {
	body {
		padding: 0em;
	}
	.site-id {
		text-align: left;
		font-size: 1.25em;
	}
	.index-site-id {
		font-size: 1.5em;
	}
	[dir=rtl] .site-id {
		text-align: right;
	}
	.main-nav, .breadcrumb-nav, .pagination-previous, .pagination-next {
		display: none;
	}
}
@media (max-width: 640px) {
	body {
		padding: 0.75em;
	}
}
