<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
	<head>
		{{- partial "graybase/head/head.html" . -}}
		<title>
			{{- block "title" . -}}
				{{- partial "graybase/title/page.html" . -}}
			{{- end -}}
		</title>
		{{- block "head-extra" . -}}{{- end -}}
	</head>
	<body>
		<header>
			{{- block "header" . -}}
				{{- partial "graybase/header/header.html" . -}}
			{{- end -}}
		</header>
		<main id="main">
			{{- block "main" . -}}{{- end -}}
		</main>
		<footer>
			{{- block "footer" . -}}{{- end -}}
		</footer>
	</body>
</html>